/*
 * Author : Cedric-Antoine Ouellet
 * Date   : 2021/02/01
 */

@font-face {
    font-family: 'digital-7';
    src: url('./fonts/digital-7.ttf');
}

@font-face {
    font-family: 'roboto thin';
    src: url('./fonts/Roboto-Thin.ttf');
}

* {
    margin: 0;
    padding: 0;
}

html {
    pointer-events: none;
    width: 100%;
    height: 100%;
    color: #fff;
    background: linear-gradient(-45deg, #000000ff, #1C1C1Cff, #373737ff);
    background-size: 400% 400%;
    position: relative;
    animation: changeBg 10s ease-in-out infinite;
}

#date, #time {
    top: 50%;
    left: 50%;
}

#date {
	color: #fff;
    letter-spacing: 5px;
    font-family: 'roboto thin';
    text-align: center;
    padding-top: 6%;
}

#time {
	color: #fff;
    letter-spacing: 10px;
    font-family: 'digital-7';
    font-size: 50px;
    border: 3px solid #fff;
    transform: translate(-50%, -50%);
    padding: 5rem 10rem;
    position: absolute;
}

@keyframes changeBg {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}